* { margin: 0px; padding: 0px; }
body { color: rgb(0, 0, 0); font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif; }
img { border: medium none; display: block; }
a { color: rgb(0, 0, 0); text-decoration: none; }
.mt_head { background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); width: 235px; height: 17px; font-size: 9px; line-height: 16px; padding-right: 5px; }
.mt_head img { float: left; padding: 3px 0px 0px 3px; }
.mt_head p { float: right; text-decoration: underline; }
.mt { background-color: rgb(255, 255, 255); width: 238px; height: 380px; border: 1px solid rgb(220, 220, 220); overflow: hidden; padding-top: 1px; text-decoration: none; }
.mt div { margin: 0px 9px; padding: 2px 0px 3px; height: 90px; }
.mt div.first { border: medium none; }
.mt div img { float: left; height: 90px; display: block; border: 1px solid rgb(220, 220, 220); }
.mt div div { font-size: 12px; line-height: 13px; width: 122px; float: right; border: medium none; margin: 0px; padding: 0px; height: 88px; overflow: hidden; }
.mt div p { padding-top: 4px; }
.mt div h2 { font-size: 13px; line-height: 13px; color: rgb(0, 0, 238); }
.mt h2 { color: rgb(0, 0, 238); text-decoration: underline; }
.mt a:hover h2 { text-decoration: none; }
