/* ::::: http://www.prykladna.lviv.ua/themes/PrykladnaTheme/styles.css ::::: */

a { color: rgb(4, 104, 141); text-decoration: none; }
a:hover { color: rgb(4, 104, 141); text-decoration: underline; }
a.side { color: rgb(85, 85, 85); text-decoration: none; }
a.side:hover { color: rgb(246, 165, 4); text-decoration: underline; }
a.white, li.white a { color: rgb(255, 255, 255); text-decoration: none; }
a.white:hover, li.white a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 5px; }
td { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; }
.spacer { margin-bottom: 5px; }
form { margin: 0px; }
.button { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(255, 255, 255); background-color: rgb(246, 165, 4); background-image: url('button.gif'); height: 20px; border: 1px solid rgb(0, 0, 0); margin-top: 2px; }
.textbox { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(85, 85, 85); background-color: rgb(248, 248, 248); border: 1px solid rgb(204, 204, 204); }
.sub-header { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(255, 255, 255); background-color: rgb(92, 125, 215); background-image: url('subheader-mid.gif'); padding: 7px 5px 8px; }
.sub-header-left { width: 3px; height: 28px; background-color: rgb(92, 125, 215); background-image: url('subheader-left.gif'); }
.sub-header-right { width: 3px; height: 28px; background-color: rgb(92, 125, 215); background-image: url('subheader-right.gif'); }
.sub-header ul { margin: 0px; padding: 0px; }
.sub-header ul li { display: inline; }
.sub-header ul li.first-link .bullet { display: none; }
.full-header { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); padding: 5px 0px 10px; }
.main-footer { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); padding: 5px; }
.main-body { font-size: 11px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); padding: 4px; }
.side-border-left { color: rgb(119, 119, 119); background-color: rgb(255, 255, 255); padding: 10px 10px 10px 0px; width: 175px; }
.side-border-right { color: rgb(119, 119, 119); background-color: rgb(255, 255, 255); padding: 10px 0px 10px 10px; width: 175px; }
.scapmain { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: normal; color: rgb(255, 255, 255); background-color: rgb(92, 125, 215); background-image: url('side.gif'); background-repeat: repeat-x; padding: 6px 4px; }
.scapmain-left { width: 3px; height: 24px; background-color: rgb(92, 125, 215); background-image: url('side-left.gif'); }
.scapmain-right { width: 3px; height: 24px; background-color: rgb(92, 125, 215); background-image: url('side-right.gif'); }
.side-body { font-size: 10px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: url('gradient.gif'); background-repeat: repeat-x; border: 1px solid rgb(221, 221, 221); padding: 4px; }
.news-footer { font-size: 10px; color: rgb(85, 85, 85); background-color: rgb(241, 241, 241); border-width: 0px 1px 1px; border-color: rgb(221, 221, 221); border-style: solid; padding: 3px 4px 4px; }
.news-body { padding: 10px; }
.news-body img { padding: 15px; }
.capmain { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(92, 125, 215); background-image: url('cap.gif'); background-repeat: repeat-x; padding: 6px 4px; }
.capmain-left { width: 3px; height: 25px; background-color: rgb(92, 125, 215); background-image: url('cap-left.gif'); }
.capmain-right { width: 3px; height: 25px; background-color: rgb(92, 125, 215); background-image: url('cap-right.gif'); }
.main-bg { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); padding: 10px 0px 5px; }
.tbl-border { border: 1px solid rgb(225, 225, 225); }
.tbl1 { font-size: 11px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); padding: 4px; }
.tbl2 { font-size: 11px; color: rgb(85, 85, 85); background-color: rgb(241, 241, 241); padding: 4px; }
.pagenav { padding: 4px; }
.pagenav span { color: rgb(255, 255, 255); background-color: rgb(246, 165, 4); border: 1px solid rgb(221, 221, 221); padding: 2px 4px; margin: 2px; }
.pagenav a { color: rgb(85, 85, 85); background-color: rgb(241, 241, 241); border: 1px solid rgb(221, 221, 221); padding: 2px 4px; margin: 2px; text-decoration: none; }
.pagenav a:hover { color: rgb(255, 255, 255); background-color: rgb(246, 165, 4); margin: 2px; text-decoration: none; }
